
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

:root {

  /* global */
  --main-bg-color: #E5E5E5;
  --main-botton-color: #50C2C9;
  --main-number-component-color: #50C2C9;
  --main-font: 'Poppins', sans-serif;

  --main-fw-button: 700;

  /* splash */
  --round-bg-splash: #8FE1D7;
  --round-bg-main: #D7F9F5;

  --splash-font-color: #838282;

  --fw-splash-header: 600;
  --fw-splash-desc: 300;

  /* home */
  --feature-list-color: #D9D9D9;

  --fw-home-header: 700;
  --fw-home-feature:600;


  /* diagnose section */

  --diagnosa-header-color:black;
  --diagnosa-question-color:white;

  --fw-diag-question:400;
  --fw-diag-header:400;
  --fw-diag-number:400;


  /* profile */

  --fw-profile-header: 600;
  --fw-profile-desc: 600;
  --profile-desc-color:black;
  --profile-header-color:black;

}

html, body{
  box-sizing: border-box;
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

.header-desc{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.round-container{
  position: relative;
  top: 0;
}

.circle{
  background-color: var(--round-bg-splash);
  opacity: 44%;
  width: 150px;
  height:75px;
}
.v1{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;

  position: absolute;
  top: -20px;
  z-index: 0;
}

.v2{

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;


  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
  
  position: absolute;
  /* top: 34px; */
  left: -50px;
  z-index: 1;
}