
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

:root {

  /* global */
  --main-bg-color: #E5E5E5;
  --main-botton-color: #50C2C9;
  --main-number-component-color: #50C2C9;
  --main-font: 'Poppins', sans-serif;

  --main-fw-button: 700;
  --fw-main-input:400;

  /* splash */
  --round-bg-splash: #8FE1D7;
  --round-bg-main: #D7F9F5;

  --splash-font-color: #838282;

  --fw-splash-header: 600;
  --fw-splash-desc: 300;

  /* home */
  --feature-list-color: #D9D9D9;

  --fw-home-header: 700;
  --fw-home-feature:600;


  /* diagnose section */
  --diagnosa-headerbg-color: #50C2C9;
  --diagnosa-question-color:black;
  --diagnosa-header-color:white;

  --fw-diag-question:400;
  --fw-diag-header:400;
  --fw-diag-number:400;


  /* profile */

  --fw-profile-header: 600;
  --fw-profile-desc: 600;
  --profile-desc-color:black;
  --profile-header-color:black;

}

/* *{
  outline:solid;
  outline-width: 0.1px;

} */
html, body{
  box-sizing: border-box;
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  height: 100%;
}

.header-desc{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.round-container{
  position: relative;
  top: 0;
}

.circle{
  opacity: 44%;
  width: 150px;
  height:75px;
}

.circleSplashColor{
  background-color: var(--round-bg-splash);
}

.circleMainColor{
  background-color: var(--round-bg-main);
}
.v1{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;

  position: absolute;
  top: -20px;
  z-index: 0;
}

.v2{

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;


  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
  
  /* position: absolute;
  left: -50px;
  z-index: 1; */
  margin-left: -50px;
}


.main-button{
  background-color: #50C2C9;
  border: none;
  border-radius: 61.5px;
  width: 154px;
  height:53px;
  font-size: 16px;
  color: white;
  font-weight: var(--main-fw-button);
  
  position: relative;
  overflow: hidden;

  /* padding: 1rem 2rem;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); */

  /* -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  -ms-transition: background 400ms;
  -o-transition: background 400ms;
  transition: background 400ms; */
}

.main-button:hover{
  background-color: #50C2C9;
  opacity: 80%;
  -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  -ms-transition: background 400ms;
  -o-transition: background 400ms;
  transition: background 400ms;
}

.featureBox{
  display: flex;
  justify-content: center;
  align-content: center;
  
  background: #D9D9D9;
  border-radius: 25px;
  margin-top: 60px;
  width: 330px;
  height: 132px;

  cursor: pointer;

}

.featureBox:hover{
  opacity: 0.3;
}

.featureBox > img{
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.addDetail{
  display: block;
  margin-left: 20px;
  font-size: 10px;
  font-weight:var(--fw-main-input);
  color:red;
}

.addDetail::before{
  content: "*";
}

.inputContainer{
  margin-top: 27px;
  padding: 0px 25px 0px 25px;
  display: grid;
 
}

.input{
  overflow: hidden;
  font-size: 14px;

  padding: 10px 0px 10px 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.inputContainer{
  margin-top: 27px;
  padding: 0px 25px 0px 25px;
  display: grid;
 
}

.selectInput{
  overflow: hidden;
  font-size: 14px;

  padding: 10px 0px 10px 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  background-color: white;
}

.selectInput > option{
  background-color: White;
  padding: 10px 0px 10px 20px;
  border-radius: 100px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.selectInput > option:checked{
  background-color: rgb(23, 65, 80);
}
.selectInput option:hover{
  background: yellow;
}

option:hover{
  background-color: #8FE1D7;
}

.login-button{
 background-color: #50C2C9;
  border: none;
  width: 274px;
  height:42px;
  font-size: 16px;
  color: white;
  font-weight: var(--main-fw-button);
  
  position: relative;
  overflow: hidden;


}

.buttonlog-container{
  margin-top: 128px;
  display: grid;
  justify-content: center;
}

.number{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-number-component-color);

  -webkit-transform: scale(0.8) ;
  -moz-transform: scale(0.8) ;
  -ms-transform: scale(0.8) ;
  -o-transform: scale(0.8) ;
  transform: scale(0.8) ;
}
.number-container{
  display: flex;
}

.diag-container{
  display: grid;
  position: relative;
  height: 100%;
}

.question-header{
  height: 240px;
  width: 100%;
  background-color: var(--diagnosa-headerbg-color);
  
} 

.diag-container{
  /* display: inline-block; */
  position: relative;
}

.question-container{
  position: absolute;
  top: 130px;
  justify-content: center;
}

.question-container2{
  margin-top: 55px;
}
.question-title{
  
  font-weight: var(--fw-diag-header);
  font-size: 1.3rem;
  margin: 0px 32px ;
  color: var(--diagnosa-header-color);
  text-align: center;

}

.answer-container{
  display: grid;
  margin-top: 100%; /* can't get to down 100% lol*/
  margin-bottom: 56px;
  display: flex;
  /* position: absolute;
  bottom: 0;
  z-index: 10; */
  justify-content: center;
  
  /* align-items: center; */
}

.number-container{
  margin-top: 15px;
  margin-left: 10px;
  display: inline-block;
}

.color-question{
  color: var(--diagnosa-question-color);
}

.answer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.splash-header-container{
  /* display: block; */
  position: relative;
  top: 0;
  
}

.desc{
  font-weight: var(--fw-splash-desc);
  color:var(--splash-font-color);
  margin: 0px 40px;
  text-align: center;
}

.splash-footer-container{
  position: relative;
  margin-top: 50px;
  margin-bottom: 15px;
}

.button-position {
  text-align: center;
}

.splash-content-container{
  margin-top: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center{
  text-align: center;
}

.logo-container{
  margin-top: 100px;
}

.splash-btn{
  margin-top: 160px;
}

.homepage-container{
  position: relative;
}

.header-feature-container{
  background-color: var(--main-number-component-color);
  height:270px;
}

.feature-container{
  background-color: #EEEEEE;
  background-repeat: repeat;
  padding-bottom: 100%;
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 230px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featureMini-container{
text-align: center;
}

.feature-desc{
  font-weight: var(--fw-home-feature);
}

.header-homepage{
  font-size: 22px;
  text-align: center;
  display: block;
  margin:0;
  color: white;
}

.header-desc-container{
  margin-top: 40px;
}

.avatar{
  width: 186px;
  height: 186px;
  background-color: white;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.avatar > img{
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);

  position: relative;
  right: 90px;
  top: 130px;

  /* object-fit: cover; */
  /* -webkit-background-clip: border-box;
  background-clip: border-box; */

}

.profile-content{
  height: 35vh;
}

.profile-header{
  height: 400px;
}

.header-profile-container{
  text-align: center;
 display: flex;
 justify-content: center;
}

.profile-content{
  top: 300px;
  display: flex;
  justify-content:center;
}

.profile-table{  

  margin-top: 40px;
  margin-left: 30px;
  width: 100%;
 
}

.profile-table > tr>td{
  color: black;
  padding-right: 10px;
  
}

.about-me{
  color: red;
  margin: 0px auto;
  padding: 0 35px;
}

.profile-btn{
  margin-top: 20px;
  /* margin-bottom: 20px; */
}
